################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.suo
**/sqlite3
*.cache
*.props
**/obj
*.targets
*.log
**/bin/
**/.gradle/
**/.idea/
**/out/
